{% extends "shop/base.html" %}
{% load static %}
{% block title %}
  Your shopping cart
{% endblock %}
{% block content %}
<div class="row">
      <div class="card col-12 col-md-8 cart">
        <div class="title">
          <div class="row border-bottom">
            <div class="col">
              <h4><b>Shopping Cart</b></h4>
            </div>
            <div class="col align-self-center text-right text-muted"> items</div>
          </div>
        </div>
        </div>
       
</div>


{% endblock %}