{% extends "shop/base.html" %}
{% load crispy_forms_tags %}
{% block title %}Change your password{% endblock %}
{% block content %}

<section class="row g-0">
  <div class="col-md-6 col-lg-4 p-5 my-3 mx-auto bg-light">
    <h1>Change your password</h1>
    <form method="post" enctype="multipart/form-data">
      <div class="">{{ form|crispy }}</div>      
      {% csrf_token %}      
      <button type="submit" class="btn btn-dark my-2 w-100">Change</button>
    </form>       
  </div>
</section>


{% endblock %}