{% extends "shop/base.html" %}
{% load static %}
{% load cartFilters %}
{% block title %}
  {{ product.name }}
{% endblock %}
{% block content %}  
<div class="container-fluid mt-2 mb-3">
    <div class="row row-cols-1 row-cols-md-2">
        <div class="col">
            <div>
                <div class="images p-3">                      
                  <img src="{% if product.image %}{{ product.image.url }}{% else %}
                    {% static "img/no_image.png" %}{% endif %}" width="100%">                      
                </div>
            </div>           
        </div>
        <div class="col">
            <div>
                <div class="product">
                  <div class="mt-1 mb-3"> 
                    <h3 class="text-uppercase">{{ product.name }}</h3>
                    <h5>
                      <a href="{{ product.category.get_absolute_url }}">
                        {{ product.category }}
                      </a>
                    </h5>
                      <div class="price d-flex flex-row align-items-center"> <span class="act-price">${{ product.price }}</span>
                      </div>
                  </div>
                <div>                  
                             <!-- add to cart form -->
                </div>
                <div class="product-description">                    
                    <div class="mt-2"> <span class="font-weight-bold">Description</span>
                        <p>{{ product.description|linebreaks }}</p>                        
                    </div>                    
                </div>
                 <div class="mt-2">
                <h6>Reviews</h6>
                <div class="d-flex flex-row">
                    <div class="stars"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> </div> <span class="ml-1 font-weight-bold">4.6</span>
                </div> 
                <div>
                  {% if product|is_in_cart:cartContext.cart %}                
                  <div class="card-body d-flex">
                    <div class="input-group-prepend">
                      <form action="{% url "cart:cart_edit" product.id %}" method="POST">
                        {% csrf_token %}
                        <!-- <input hidden type="text" name="productId" value="{{product.id}}"> -->
                        <input hidden type="text" name="removeQty" value="True">
                        <button class="btn btn-dark btn-sm" id="minus-btn"><i class="fa fa-minus"></i></button>
                      </form>  
                      </div>                
                    <div class="mx-2 mt-1">{{product|cart_qty:cartContext.cart}}</div>
                    <div class="input-group-prepend">
                      <form action="{% url "cart:cart_edit" product.id %}" method="POST">
                        {% csrf_token %}
                        <input hidden type="text" name="addQty" value="True">
                        <button class="btn btn-dark btn-sm" id="plus-btn"><i class="fa fa-plus"></i></button>
                      </form>
                      </div>
                </div>         
                {% else %}             
                <form action="{% url "cart:cart_edit" product.id %}" method="POST">
                  {% csrf_token %}     
                   <input hidden type="text" name="addQty" value="True">          
                   <button type="submit" class="btn bg-primary"><i class="fa fa-cart-plus mr-2"></i> Add to cart</button>
                </form>
                {% endif %}       
                  
                </div>
            </div>
            </div>            
        </div>
    </div>
</div>


{% endblock %}