{% extends "shop/base.html" %}
{% load static %}
{% load cart %}
{% block title %}
  {% if category %}{{ category.name }}{% else %}Products{% endif %}
{% endblock %}
{% block content %}
<div class="mx-2">
  <!-- Home Page Title Start -->
  <h1>
    {% if category %}{{ category.name }}{% else %}Browse All Products{% endif %}
  </h1>
  <!-- Home Page Title End -->

  <!-- Product Grid Start -->
  <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 g-4">
    {% for product in products %}
    <div class="col">
      <div class="card">     
        <div class="card-body">
            <div class="card-img-actions">
                <a href="{{ product.get_absolute_url }}">
                  <img class="card-img img-fluid" width="96" height="350" alt="" src="{% if product.image %}{{ product.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}">
                </a>
            </div>
          </div>
          <div class="card-body bg-light text-center">
            <div class="mb-2">
                  <h6 class="font-weight-semibold mb-2"> 
                    <a href="{{ product.get_absolute_url }}" class="text-default mb-2" data-abc="true">{{ product.name }}</a> 
                  </h6>
              </div>
              <h4 class="mb-0 font-weight-semibold">${{product.price}}</h4>
              <div> <i class="fa fa-star star"></i> <i class="fa fa-star star"></i> <i class="fa fa-star star"></i> <i class="fa fa-star star"></i> </div>
              <div class="text-muted mb-3">34 reviews</div> 
             {% if product|is_in_cart:cart %} 
             <div class="col">
               <div class="input-group mb-3">
                 <div class="input-group-prepend">
                   <button class="btn btn-dark btn-sm" id="minus-btn"><i class="fa fa-minus"></i></button>
                  </div>
                  <input type="number" id="qty_input" class="form-control form-control-sm" value="1" min="1">
                  <div class="input-group-prepend">
                    <button class="btn btn-dark btn-sm" id="plus-btn"><i class="fa fa-plus"></i></button>
                  </div>
                </div>
              </div>
              {% else %}
              <form action="/" method="POST">
                {% csrf_token %}
                <input type="text" name="productId" value="{{product.id}}">
                <button type="submit" class="btn bg-primary"><i class="fa fa-cart-plus mr-2"></i> Add to cart</button>
              </form>
              {% endif %}
          </div>
      </div>
    </div>  
    {% endfor %}
  </div>
</div>
<!-- Product Grid End -->

<!-- Pagination Start -->
{% if products.paginator.num_pages > 1 %}
<nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">

            <li class="page-item {% if not products.has_previous %} disabled {% endif %}">
                <a class="page-link" href="?page=1" tabindex="-1">FIRST</a>
            </li>
            <li class="page-item {% if not products.has_previous %} disabled {% endif %}">
                <a class="page-link" href="{% if products.has_previous %}?page={{ products.previous_page_number }}{% endif %} " tabindex="-1">Previous</a>
            </li>

            {% if products.number|add:'-4' > 1 %}
                <li class="page-item disabled"><a class="page-link" href="?page={{ products.number|add:'-5' }}">&hellip;</a></li>
            {% endif %}

            {% for i in products.paginator.page_range %}
                {% if products.number == i %}
                    <li class="active page-item disabled"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                {% elif i > products.number|add:'-5' and i < products.number|add:'5' %}
                    <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
            {% endfor %}

            {% if products.paginator.num_pages > products.number|add:'4' %}
                <li class="page-item disabled"><a class="page-link" href="?page={{ products.number|add:'5' }}">&hellip;</a></li>
            {% endif %}

            <li class="page-item {% if not products.has_next %} disabled {% endif %}">
                <a class="page-link" href="{% if products.has_next %} ?page={{ products.next_page_number }} {% endif %}">Next</a>
            </li>
            <li class="page-item {% if not products.has_next %} disabled {% endif %}">
                <a class="page-link" href="{% if products.has_next %} ?page={{ products.paginator.num_pages }}  {% endif %}">LAST</a>
            </li>
        </ul>
    </nav>  
  {% endif %}
  <!-- Pagination End -->

     
{% endblock %}