<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/">Tile Shop</a>    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Shop</a>
        </li>       
      </ul> 
      <!-- Right elements -->
    <div class="d-flex align-items-center">
      <!-- Icon -->
       <div class="cart">
        {% with total_items=cartContext.get_product_count %}
          {% if total_items > 0 %}
            Your cart:
            <a href="{% url "cart:cart_detail" %}">
              {{ total_items }} item{{ total_items|pluralize }},
              ${{ cartContext.get_total_price }}
            </a>
          {% else %}
            Your cart is empty.
          {% endif %}
        {% endwith %}
      </div>
      <div> 
        <!-- Show only if the user is authenticated  -->       
          {% if request.user.is_authenticated %}
            Hello {{ request.user.first_name }}, <span class="m-2"><a href="{% url "logout" %}">Logout</a></span>
            
          {% else %}
            <span class="m-2"><a href="{% url "login" %}">Log-in</a></span>
          {% endif %}        
      </div>      
    </div>    
    </div>
  </div>
</nav>