{% extends "shop/base.html" %}
{% block title %}Log-in{% endblock %}
{% block content %}
<section class="position-absolute top-50 start-50 translate-middle card p-5 bg-light text-center">
  <h2>Log in new</h2>
  {% if form.errors %}
    <p>
      Your username and password didn't match.
      Please try again.
    </p>  
  {% endif %}
  <div class="">
    <form action="{% url 'login' %}" method="post">
      {% for field in form %}
      <div class="d-flex flex-column my-2">{{ field }}</div>
      {% endfor %}
      {% csrf_token %}
      <input type="hidden" name="next" value="{{ next }}" />
      <button type="submit" class="btn btn-dark mt-auto w-100">Log In</button>
    </form>
    {% comment %} <div class="border-bottom my-2"></div>  {% endcomment %}
    <div class="my-2"><a class="text-reset text-decoration-none" href="{% url "password_reset" %}">Forgot Password?</a></div>
    <div>              
      <button class="btn btn-dark mt-auto w-100"><a class="text-reset text-decoration-none" href="{% url "register" %}">Don't have an account? Sign Up</a></button>
    </div> 
  </div>
</section>
{% endblock %}